$gray-50: #f9fafb;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

$core-bg: #f7faff;
$core: #323846;
$core-dark: #061058;
$core-light: #8d94b7;
$core-blue: #3246d3;
$core-gray: #8d94b7;
